.swiper-block {
    position: relative;
    padding: 0 30px;
    margin: 25px 0 20px;
    user-select: none;
}

.swiper-slide {
    display: flex;
    text-align: center;
    font-size: 16px;
}

.swiper-slide a {
    padding: 0 10px;
    box-sizing: border-box;
    word-break: break-word;
}
#page-content .swiper-slide a:hover img {
    border: 1px solid #b7b7b7;
}
.swiper-slide img {
    width: auto;
}

.swiper-drugs .swiper-slide img {
    height: 110px;
    margin: 0 auto 10px auto;
}
.sw01 .swiper-slide img {
    height: 110px;
    margin: 0 auto;
}
.sw02 .swiper-slide img {
    height: 170px;
    margin: 0 auto;
}

.swiper-prev,
.swiper-next {
    position: absolute;
    top: 47px;
    color: #cbcbcb;
    transition: color 0.5s;
    width: 12px;
    height: 20px;
    z-index: 10;
    cursor: pointer;
    -webkit-tap-highlight-color: #0000;
}
.swiper-prev {
    left: 10px;
}
.swiper-next {
    right: 10px;
}
.swiper-prev:hover,
.swiper-next:hover {
    color: #565656;
}
.swiper-button-disabled,
.swiper-button-disabled {
    color: #e1e1e1;
    cursor: auto;
    pointer-events: none;
}

.swiper-prev:before,
.swiper-next:before {
    font-family: 'icomoon';
    font-size: 20px;
    position: relative;
    bottom: 1px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.swiper-prev:before {
    content: '\eddf';
    right: 3px;
}

.swiper-next:before {
    content: '\edb9';
    right: 4px;
}
